{% extends "base.html" %}
{% block content %}
Add Holes
{% if errors %}
<div class="alert">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<form method="post" action="{{base_path}}/track/{{ track }}/add">
   
    <label>par</label>
    <label>Length</label>
    <div class="row">
        <div class="col-md-4">par</div>
        <div class="col-md-4">Length</div>
    </div>
    {% for i in 0..17 %}
    <div class="form-group" id="tabless">
        <div class="row">
            <div class="col-md-1"> <input type="number" name="par[]" class="form-control"></div>
            <div class="col-md-1"> <input type="number" name="length[]" class="form-control"></div>
        </div>
        {% endfor %}

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Add</button>
    </div>
</form>
{% endblock %}