{% extends "base.html" %}
{% block content %}

<!-- add if statement -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Length</th>
            <th>Par</th>
            
        </tr>
    </thead>

    <tbody>
        {% for track in tracks %}

        <tr>    
            <td><a href="{{base_path}}/track/{{track.id}}">{{track.track}}</td>
            <td>{{track.location}}</td>
            <td>{{track.get_length()}}</td>
            <td>{{track.get_par()}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if check_admin %} 
<a href="{{base_path}}/track/add" class="btn btn-success">Add track</a>
{% endif %}
{% endblock %}