{% extends "base.html" %}
{% block content %}

<h1>{{ track.track }}</h1>
<h5>Par: {{ track.get_par() }}</h5>
<h5>Length:  {{ track.get_length() }}</h5>
<!-- add if statement -->
{% if user_logged_in %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Runs</th>
            <th>Best</th>
            <th>Avg.</th>
            <th>Throws</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{player.get_runs_to_track(track.id)}}</td>
            <td>{{player.get_best_to_track(track.id)}}</td>
            <td>{{player.get_avg_to_track(track.id)}}</td>
            <td>{{player.get_throws_to_track(track.id)}}</td>
        </tr>
    </tbody>
</table>
{% endif %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Hole</th>
            <th>Par</th>
            <th>Length</th>
            <!-- add if statement -->
            <th>personal best</th>
        </tr>
    </thead>

    <tbody>
        <!-- List of holes -->
        {% set i = 1 %}
        {% for hole in holes %}
        <tr>
            
            
            <td>{{ i }}{% set i = i+1 %}</td>
            <td>{{ hole.par }}</td>
            <td>{{ hole.length }}</td>
            <td>{{ player.get_best_to_hole(hole.id) }}</td>        
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="post" action="{{base_path}}/track/{{track.id}}/run" style="display: inline-block;">
    <input type="hidden" name="player" value="{{player.id}}">
    <input type="hidden" name="" value="">
  <button type="submit" class="btn btn-success">Add run</button>
</form>
{% if check_admin %}
<form method="post" action="{{base_path}}/track/{{track.id}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Delete track</button>
</form>
<form method="get" action="{{base_path}}/track/{{track.id}}/edit" style="display: inline-block;">
  <button type="submit" class="btn btn-warning">Edit track</button>
</form>
{% endif %}
{% endblock %}
