{% extends "base.html" %}
{% block content %}
<h1>Autodromo Discpark</h1>
<h5>Par: 23</h5>
<h5>Length: 692</h5>
<!-- add if statement -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Runs</th>
            <th>Best</th>
            <th>AVG</th>
            <th>Throws</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>4</td>
            <td>+2</td>
            <td>+4</td>
            <td>104</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Hole</th>
            <th>Par</th>
            <th>Length</th>
            <th>Name</th>
            <!-- add if statement -->
            <th>personal best</th>
        </tr>
    </thead>

    <tbody>
        <!-- List of holes -->
        <tr>
            <td>1</td>
            <td>3</td>
            <td>100m</td>
            <td>Alesi</td>
            <th>3</th>        
        </tr>
        <tr>
            <td>2</td>
            <td>4</td>
            <td>124m</td>
            <td>Senna</td>
            <th>3</th>        
        </tr>
        <tr>
            <td>3</td>
            <td>3</td>
            <td>111m</td>
            <td>Prost</td>
            <th>4</th>        
        </tr>
        <tr>
            <td>5</td>
            <td>2</td>
            <td>66m</td>
            <td>Berger</td>
            <th>3</th>        
        </tr>
        <tr>
            <td>6</td>
            <td>4</td>
            <td>152m</td>
            <td>Schumacher</td>
            <th>5</th>        
        </tr>
        <tr>
            <td>7</td>
            <td>3</td>
            <td>140m</td>
            <td>Hill Jr.</td>
            <th>3</th>        
        </tr>
        <tr>
            <td>8</td>
            <td>4</td>
            <td>99m</td>
            <td>Hill Sr.</td>
            <th>4</th>        
        </tr>
    </tbody>
</table>
{% endblock %}